<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="/static/js/script.js"></script>
    <link rel="icon" href="/static/img/favicon.ico" type="image/png">
</head>
<body>
    <header>
        <div id="header">
            <div id="header_text">
                <h1>QR Code Generator</h1>
            </div><div id="link_repo">
                <img src="/static/img/github_icon_white.png" id="github_icon">
            </div>
        </div>
    </header>
    <section>
        <div id="main">
            <div id="main_left">
                <h3>Input text here</h3>
            </div><div id="main_right">
                <h3>Input text here</h3>
            </div>
        </div>
    </section>
    <footer>
        <div id="footer">
            <div id="footer_text">
                <h4>Created by Deron Martin</h4>
            </div>
        </div>
    </footer>
</body>
</html>